@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../public/hero.png");
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0
  }
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
  background-size: 1000px 100%;
}

/*.ant-input::placeholder {*/
/*  @apply text-gray-400*/
/*}*/


/*.ant-input-outlined {*/
/*  @apply hover:bg-gray-800 hover:bg-opacity-50 hover:border-gray-700*/
/*}*/

/*.ant-input-outlined:focus-within {*/
/*  @apply bg-gray-800 border-red-600*/
/*}*/

/*.ant-otp {*/
/*  @apply flex justify-between gap-5*/
/*}*/

/*.ant-otp-input {*/
/*  @apply w-12 h-12 text-center text-2xl font-bold bg-gray-700 text-white border-2 border-gray-700 rounded-lg*/
/*}*/

.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  @apply bg-gray-800 bg-opacity-50 backdrop-filter backdrop-blur-xl rounded-xl shadow-xl
}

.error-page--content::before {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.2) 45%,
    rgba(0, 0, 0, 0.1) 55%,
    transparent 70%
  );
  bottom: -10vw;
  content: "";
  left: 10vw;
  position: absolute;
  right: 10vw;
  top: -10vw;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(31 41 55 / 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: black;
}